<div class="modal-header">
  <h6 class="modal-title">Create Section</h6>
</div>
<div class="modal-body">
  <form class="w-100" [formGroup]="sectionForm$" (submit)="submit()">
    <div class="form-floating mb-3">
      <select class="form-select" id="name" formControlName="name">
        <option selected [value]="null">--Select Sections--</option>
        <option *ngFor="let sections of filteredGrades" [value]="sections">
          {{ sections }}
        </option>
      </select>
      <label for="name">Select Sections</label>
    </div>

    <div class="modal-footer">
      <button
        class="btn btn-danger"
        type="button"
        (click)="activeModal.close()"
      >
        Cancel
      </button>
      <button
        class="btn btn-dark"
        type="submit"
        [disabled]="sectionForm$.invalid"
      >
        Save Section
      </button>
    </div>
  </form>
</div>
