<div class="h-screen flex align-items-center justify-content-center p-3">
  <div class="surface-card p-4 shadow-2 border-round w-full lg:w-6">
    <div class="text-center mb-5">
      <img
        src="../../../../assets/images/logo.png"
        alt="Image"
        width="60"
        class="mb-3"
      />
      <div class="text-900 text-3xl font-medium mb-3">Welcome Back</div>
    </div>

    <form *ngIf="loginForm$" [formGroup]="loginForm$" (ngSubmit)="login()">
      <label for="email" class="block text-900 font-medium mb-2">Email</label>
      <input
        id="email"
        type="text"
        placeholder="Email address"
        pInputText
        formControlName="email"
        class="w-full mb-3"
      />

      <label for="password" class="block text-900 font-medium mb-2"
        >Password</label
      >
      <input
        id="password"
        type="password"
        formControlName="password"
        placeholder="Password"
        pInputText
        class="w-full mb-3"
      />

      <div class="flex align-items-center justify-content-between mb-6">
        <div class="flex align-items-center">
          <p-checkbox
            id="rememberme1"
            [binary]="true"
            styleClass="mr-2"
          ></p-checkbox>
          <label for="rememberme1" class="text-900">Remember me</label>
        </div>
        <p-button
          label="Forgot password"
          (click)="forgotPassword($event)"
          styleClass="p-button-text"
          type="button"
        />
      </div>

      <p-button
        type="submit"
        label="Login"
        icon="pi pi-user"
        [disabled]="loginForm$.invalid"
        styleClass="p-button w-full"
      />
    </form>
  </div>
</div>
<p-toast />
