<ng-container *ngIf="admin$ | async as admin">
  <div
    class="d-flex align-items-stretch vh-100"
    style="background-color: var(--primary)"
  >
    <div
      class="align-self-stretch overflow-auto sidebar d-flex flex-column align-items-center gap-3"
      [ngClass]="{ collapsed: isExpanded$ }"
    >
      <img
        src="../../../../assets/images/logo.png"
        alt="logo"
        width="80px"
        height="80px"
        routerLink="dashboard"
      />
      <div class="navigation">
        <ul>
          <li
            *ngFor="let item of menuItems$"
            [routerLink]="item.route"
            routerLinkActive="active"
            class="w-100"
          >
            <a>
              <i [ngClass]="item.selectedIcon" class="me-3"></i>
              {{ item.name }}</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div
      class="flex-grow-1 overflow-hidden d-flex flex-column"
      style="background-color: var(--background)"
    >
      <div
        class="d-flex align-items-center justify-content-between p-2 bg-white shadow-sm"
      >
        <button class="btn btn-light btn-lg" (click)="expand()">
          <i class="fa-solid fa-bars"></i>
        </button>
        <div class="d-flex gap-3 align-items-center justify-content-center">
          <img
            [src]="
              admin.profile !== ''
                ? admin.profile
                : '../../../../assets/images/profile.jpg'
            "
            class="rounded-circle"
            width="40px"
            height="40px"
            alt="profile"
          />
        </div>
      </div>

      <div class="flex-grow-1 overflow-y-auto">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</ng-container>
