<ng-container>
  <div class="container-fluid h-100 p-3">
    <div class="d-flex flex-column h-100 bg-white shadow-sm p-3 rounded">
      <div class="d-flex align-items-center justify-content-between">
        <h5>Sections</h5>
        <button class="btn btn-dark" (click)="submit()">Create Section</button>
      </div>
      <div class="flex-grow-1 overflow-auto">
        <table class="table table-borderless table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Teacher</th>
              <th scope="col">Students</th>
              <th scope="col">Created At</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let section of sectionWithUsers$ | async; index as index"
            >
              <th scope="row">{{ index + 1 }}</th>
              <td>{{ section.section.name }}</td>
              <td>
                <div *ngIf="getTeacher(section).length > 0; else noTeacher">
                  <div
                    *ngFor="let teacher of getTeacher(section); let last = last"
                  >
                    {{ teacher.name }}<span *ngIf="!last">, </span>
                  </div>
                </div>
                <ng-template #noTeacher>
                  <div>No teacher yet</div>
                </ng-template>
              </td>
              <td>{{ getStudentCount(section) }}</td>
              <td>{{ section.section.createdAt.toLocaleDateString() }}</td>
              <td>
                <div ngbDropdown class="d-inline-block">
                  <button
                    ngbDropdownToggle
                    id="dropdownEdit"
                    class="btn btn-outline-secondary"
                  >
                    Edit
                  </button>
                  <div ngbDropdownMenu aria-labelledby="dropdownEdit">
                    <button ngbDropdownItem>View</button>
                    <button ngbDropdownItem (click)="openAssign(section)">
                      Assign Teacher
                    </button>
                    <button
                      ngbDropdownItem
                      (click)="deleteSection(section.section)"
                    >
                      Delete
                    </button>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</ng-container>
