<div class="container-fluid p-3">
  <div class="row g-3">
    <div class="col-4">
      <div class="box box-1">
        <div class="flex-grow-1">
          <h4 class="fw-bold" *ngIf="users$ | async as users">
            {{ users.length }}
          </h4>
          <p>All Users</p>
        </div>

        <div class="p-3 rounded-circle" style="background-color: lightcyan">
          <i class="fa-solid fa-users"></i>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="box box-2">
        <div class="flex-grow-1">
          <h4 class="fw-bold" *ngIf="students$ | async as users">
            {{ users.length }}
          </h4>
          <p>Students</p>
        </div>

        <div class="p-3 rounded-circle" style="background-color: lightcyan">
          <i class="fa-solid fa-graduation-cap"></i>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="box box-3">
        <div class="flex-grow-1">
          <h4 class="fw-bold" *ngIf="teachers$ | async as users">
            {{ users.length }}
          </h4>
          <p>Teachers</p>
        </div>
        <div class="p-3 rounded-circle" style="background-color: lightcyan">
          <i class="fa-solid fa-chalkboard-user"></i>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="box">
        <div class="d-flex align-items-center justify-content-between p-3">
          <h4>Accounts</h4>
          <ul ngbNav #nav="ngbNav" class="nav-tabs">
            <li ngbNavItem>
              <button ngbNavLink>Students</button>
              <ng-template ngbNavContent>
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Name</th>
                      <th scope="col">Email</th>
                      <th scope="col">Section</th>
                      <th scope="col">Gender</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let user of students$ | async; index as i">
                      <th scope="row">{{ i + 1 }}</th>
                      <td>
                        <img
                          [src]="user.users.avatar"
                          [alt]="user.users.name"
                          class="me-2 rounded-circle"
                          style="width: 30px; height: 30px"
                        />
                        {{ user.users.name }}
                      </td>
                      <td>{{ user.users.email }}</td>
                      <td>
                        <ng-container *ngFor="let section of user.sections">
                          {{ section.name }}<br />
                        </ng-container>
                      </td>
                      <td>{{ user.users.gender }}</td>
                    </tr>
                  </tbody>
                </table>
              </ng-template>
            </li>
            <li ngbNavItem>
              <button ngbNavLink>Teachers</button>
              <ng-template ngbNavContent>
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Name</th>
                      <th scope="col">Email</th>
                      <th scope="col">Section</th>
                      <th scope="col">Gender</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let user of teachers$ | async; index as i">
                      <th scope="row">{{ i + 1 }}</th>
                      <td>
                        <img
                          [src]="user.users.avatar"
                          [alt]="user.users.name"
                          class="me-2 rounded-circle"
                          style="width: 30px; height: 30px"
                        />
                        {{ user.users.name }}
                      </td>
                      <td>{{ user.users.email }}</td>
                      <td>
                        <ng-container *ngFor="let section of user.sections">
                          {{ section.name }}<br />
                        </ng-container>
                      </td>
                      <td>{{ user.users.gender }}</td>
                    </tr>
                  </tbody>
                </table>
              </ng-template>
            </li>
          </ul>
        </div>

        <div [ngbNavOutlet]="nav"></div>
      </div>
    </div>
  </div>
</div>
